################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApplication5/v15
/ConsoleApplication5/obj/Debug/ConsoleApplication5.csproj.CoreCompileInputs.cache
